mat-toolbar{
    background-color: rgb(95, 97, 95);
}
span{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-style: oblique;
}
form{
    margin-top: 20px;
    max-width: 20%;
    margin-left: 520px;
}
button{
    margin-left: 120px;
}
mat-form-field{
    width: 350px;
}