<mat-toolbar>
    <span>Tela Celular</span>
  </mat-toolbar>

  <div class="flex row tcs" *ngFor="let tc of tcs">
    <img [src]="tc.urlImagem">

    <!-- <div class="espaco"></div> -->

    <div class="grow flex column descricao-tc">

      <div>
        <h2>
          {{ tc.titulo }}
        </h2>
        
        <p>
          {{ tc.descricaoCurta }}
        </p>
      </div>

      <div class="grow"></div>

      <div class="flex row">
        <h3>
          {{ tc.valor }}
        </h3>
        <div class="grow"></div>
        <button mat-button>Ver Descrição<br>
           Completa</button>

      </div>

    </div>

    <!-- <div class="espaco"></div> -->

  </div>