<mat-toolbar>
    <span>Baterias</span>
  </mat-toolbar>

  
  <div class="flex row baterias" *ngFor="let bateria of baterias">
    <img [src]="bateria.urlImagem">

    <!-- <div class="espaco"></div> -->

    <div class="grow flex column descricao-bateria">

      <div>
        <h2>
          {{ bateria.titulo }}
        </h2>
        
        <p>
          {{ bateria.descricaoCurta }}
        </p>
      </div>

      <div class="grow"></div>

      <div class="flex row">
        <h3>
          {{ bateria.valor }}
        </h3>
        <div class="grow"></div>
        <button mat-button>Ver Descrição<br>
           Completa</button>

      </div>

    </div>

    <!-- <div class="espaco"></div> -->

  </div>