<mat-toolbar>
    <span>Produtos</span>
  </mat-toolbar>

  <div class="flex row ssds" *ngFor="let ssd of appService.dados; let id = index">
    <img [src]="ssd.url">

    <!-- <div class="espaco"></div> -->

    <div class="grow flex column descricao-ssd">

      <div>
        <h2>
          {{ ssd.titulo }}
        </h2>
        
        <p>
          {{ ssd.descCurta }}
        </p>
      </div>

      <div class="grow"></div>

      <div class="flex row">
        <h3>
          R${{ ssd.valor }}
        </h3>
        <div class="grow"></div>
        <button mat-button routerLink='/Detalhes/{{id}}'>Ver Descrição<br>
           Completa</button>

      </div>

    </div>

  </div>
