<mat-toolbar>
    <span>Memória Ram</span>
  </mat-toolbar>
  
  <div class="flex row rams" *ngFor="let ram of rams">
    <img [src]="ram.urlImagem">

    <!-- <div class="espaco"></div> -->

    <div class="grow flex column descricao-ram">

      <div>
        <h2>
          {{ ram.titulo }}
        </h2>
        
        <p>
          {{ ram.descricaoCurta }}
        </p>
      </div>

      <div class="grow"></div>

      <div class="flex row">
        <h3>
          {{ ram.valor }}
        </h3>
        <div class="grow"></div>
        <button mat-button>Ver Descrição<br>
           Completa</button>

      </div>

    </div>

    <!-- <div class="espaco"></div> -->

  </div>