<mat-toolbar>
    <span>HD's</span>
  </mat-toolbar>

  <div class="flex row hds" *ngFor="let hd of hds">
    <img [src]="hd.urlImagem">

    <!-- <div class="espaco"></div> -->

    <div class="grow flex column descricao-hd">

      <div>
        <h2>
          {{ hd.titulo }}
        </h2>
        
        <p>
          {{ hd.descricaoCurta }}
        </p>
      </div>

      <div class="grow"></div>

      <div class="flex row">
        <h3>
          {{ hd.valor }}
        </h3>
        <div class="grow"></div>
        <button mat-button>Ver Descrição<br>
           Completa</button>

      </div>

    </div>

    <!-- <div class="espaco"></div> -->

  </div>