mat-toolbar{
    height: 100px;
    background-color: rgba(0, 38, 255, 0.747);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    .meuMenu{
        margin: 20%;
    }
    button{
        margin-left: 50px;
        color: white;
    }
    .brasil{
        margin-left: 150px;
    }
}