<html>
    <nav>
        <mat-toolbar>
            <img src="assets/img/logo.png"  widht="80" height="80" alt="Imagem não encontrada!" routerLink="">

        <div class="meuMenu">

            <div class="Botoes">
                <button mat-button routerLink="/Home" class="cad">Home</button>
                <button mat-button routerLink="/Cadastro" class="cad">Cadastrar Produto</button>
                <img src="assets/img/brasil.png" class="brasil" widht="50" height="50" alt="Imagem não encontrada!">
            </div>
        </div> 
        </mat-toolbar>

    </nav>
    <router-outlet></router-outlet>
</html>
